body{
	text-align:center;
	background-color:#e5ac39 !important;
}

.well{
	background-color:#723c06 !important;
	color: white;
	border-color:black !important;
}

#main-header{
	font-size: 70px;
	color: #8c0707;
}

#burger-image{
	width:200px;
	height: 200px;
}

#add-burger-header{
	font-size:40px;
}

#input-area{
	width:230px;
	height:80px;
	font-size: 20px;
}

#input-btn{
	width:230px;
	font-size:20px;
	background-color: #8c0707;
}

.secondary-header{
	font-size:35px;
	color: #8c0707;
}
